@import "@/mixins";

.startScreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.bg {
  background: url('@/assets/img/startScreen/bg.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: 1;

  @include m {
    background: url('@/assets/img/startScreen/bg-mobile.png') no-repeat;
    background-size: cover;
  }
}

.bgMerry {
  width: 100vw;
  height: 100vh;
  background: url('@/assets/img/startScreen/bg-merry.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0;

  @include m {
    background: url('@/assets/img/startScreen/bg-merry-mobile.png') no-repeat;
    background-size: cover;
  }
}

.bgSad {
  width: 100vw;
  height: 100vh;
  background: url('@/assets/img/startScreen/bg-sad.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0;

  @include m {
    background: url('@/assets/img/startScreen/bg-sad-mobile.png') no-repeat;
    background-size: cover;
  }
}

.person1 {
  background: url(/src/assets/img/startScreen/person1-1.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -0vw;
  left: 52%;
  transform: translateX(-52%);
  width: 44.49vw;
  height: 31.09vw;


  @include m {
    background: url('@/assets/img/startScreen/person1-1mobile.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 141.86vw;
    width: 100vw;
    left: 0;
    transform: translateX(0);
  }
}

.person2 {
  background: url(/src/assets/img/startScreen/person1-2.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0vw;
  left: 52%;
  transform: translateX(-52%);
  width: 44.49vw;
  height: 31.09vw;


  @include m {
    background: url('@/assets/img/startScreen/person1-2mobile.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 141.86vw;
    width: 100vw;
    left: 0;
    transform: translateX(0);
  }
}

.personMerry1 {
  background: url('@/assets/img/startScreen/merryPerson-1.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-52%);
  width: 35vw;
  height: 31.09vw;

  @include m {
    background: url('@/assets/img/startScreen/merryPerson-1-mobile.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 141.86vw;
    width: 100vw;
    left: 0;
    transform: translateX(0);
  }
}

.personMerry2 {
  background: url('@/assets/img/startScreen/merryPerson-2.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-52%);
  width: 35vw;
  height: 31.09vw;

  @include m {
    background: url('@/assets/img/startScreen/merryPerson-2-mobile.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 141.86vw;
    width: 100vw;
    left: 0;
    transform: translateX(0);
  }
}

.personSad1 {
  background: url('@/assets/img/startScreen/sadPerson-1.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-52%);
  width: 35vw;
  height: 31.09vw;

  @include m {
    background: url('@/assets/img/startScreen/sadPerson-1-mobile.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 141.86vw;
    width: 100vw;
    left: 0;
    transform: translateX(0);
  }
}

.personSad2 {
  background: url('@/assets/img/startScreen/sadPerson-2.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-52%);
  width: 35vw;
  height: 31.09vw;

  @include m {
    background: url('@/assets/img/startScreen/sadPerson-2-mobile.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 141.86vw;
    width: 100vw;
    left: 0;
    transform: translateX(0);
  }
}

.buyBtn {
  width: 15.62vw;
  height: 6.66vw;
  background: url('@/assets/img/startScreen/BuyBtn-en.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: 22.52vw;
  bottom: 13.5vw;
  transition: transform ease-out .3s;

  &:hover {
    transform: scale(1.05);
  }

  @include m {
    width: 47.74vw;
    height: 20.59vw;
    bottom: unset;
    top: 27vh;
    left: 1.5vw;

    &:hover {
      transform: scale(1);
    }
  }
}

.buyBtnRu {
  width: 15.62vw;
  height: 6.66vw;
  background: url('@/assets/img/startScreen/BuyBtn-empty.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: 22.52vw;
  bottom: 13.5vw;
  font-family: SharkSoftBites;
  color: white;
  -webkit-text-stroke: 0.12vw #000;
  text-stroke: 0.12vw #000;
  font-weight: bold;
  font-size: 2.2vw;
  transition: transform ease-out .3s;

  &:hover {
    transform: scale(1.05);
  }

  @include m {
    width: 47.74vw;
    height: 20.59vw;
    bottom: unset;
    top: 27vh;
    left: 1.5vw;
    font-size: 7.6vw;

    &:hover {
      transform: scale(1);
    }
  }
}

.sellBtn {
  width: 15.62vw;
  height: 6.66vw;
  background: url(/src/assets/img/startScreen/SellBtn-en.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 13.5vw;
  right: 22.52vw;
  transition: transform ease-out .3s;

  &:hover {
    transform: scale(1.05);
  }

  @include m {
    width: 47.74vw;
    height: 20.59vw;
    bottom: unset;
    top: 27vh;
    right: 2vw;

    &:hover {
      transform: scale(1);
    }
  }
}

.sellBtnRu {
  width: 15.62vw;
  height: 6.66vw;
  background: url(/src/assets/img/startScreen/SellBtn-empty.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 22.52vw;
  bottom: 13.5vw;
  font-family: SharkSoftBites;
  color: white;
  -webkit-text-stroke: 0.12vw #000;
  text-stroke: 0.12vw #000;
  font-weight: bold;
  font-size: 2.2vw;
  transition: transform ease-out .3s;

  &:hover {
    transform: scale(1.05);
  }

  @include m {
    width: 47.74vw;
    height: 20.59vw;
    bottom: unset;
    top: 27vh;
    right: 2vw;
    font-size: 7.6vw;

    &:hover {
      transform: scale(1);
    }
  }
}

.pressBtn {
  width: 28.96vw;
  height: 4.9vw;
  background: url(/src/assets/img/startScreen/PressBtnEn.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 9.82vw;
  bottom: 0.7vw;

  @include m {
    width: 87.9vw;
    height: 14.88vw;
    right: 2.82vw;
  }
}

.pressBtnRu {
  width: 28.96vw;
  height: 4.9vw;
  background: url(/src/assets/img/startScreen/PressBtnEmpty.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 9.82vw;
  bottom: 0.7vw;
  font-family: SharkSoftBites;
  color: white;
  font-size: 1.5vw;
  padding-left: 1vw;
  padding-top: 1vw;


  @include m {
    width: 87.9vw;
    height: 14.88vw;
    right: 2.82vw;
    font-size: 4.5vw;
    display: flex;
    padding-left: 4vw;
    align-items: center;
  }
}