@import "@/mixins";

.airdropBlock {
  width: 100vw;
  height: 137.7vw;
  background: url('@/assets/img/airdrop/bg-en.jpg') no-repeat;
  background-size: cover;
  position: relative;

  @include m {
    height: 352.79vw;
    background: url('@/assets/img/airdrop/bg-mobile.jpg') no-repeat;
    background-size: cover;
  }
}

.airdropBlockRu {
  width: 100vw;
  height: 137.7vw;
  background: url('@/assets/img/airdrop/bg-ru.jpg') no-repeat;
  background-size: cover;
  position: relative;

  @include m {
    height: 352.79vw;
    background: url('@/assets/img/airdrop/bg-mobile-ru.jpg') no-repeat;
    background-size: cover;
  }
}

.botBtnEn {
  position: absolute;
  width: 15.6vw;
  height: 6.66vw;
  left: 41.9vw;
  top: 80vw;
  background-image: url('@/assets/img/airdrop/botBtnEn.png');
  background-size: cover;
  transition: transform ease-out .3s;

  &:hover {
    transform: scale(1.05);
  }  

  @include m {
    width: 67vw;
    height: 25vw;
    left: 16.9vw;
    top: 135.6vw;
    background-image: url('@/assets/img/airdrop/botBtnMobileEn.png');
    background-size: cover;

    &:hover {
      transform: scale(1);
    }
    
  }
  
}

.botBtnRu {
  width: 15.6vw;
  height: 6.66vw;
  position: absolute;
  left: 41.9vw;
  top: 80vw;
  background-image: url('@/assets/img/airdrop/botBtnRu.png');
  background-size: cover;
  transition: transform ease-out .3s;

  &:hover {
    transform: scale(1.05);
  }

  @include m {
    width: 56.6vw;
    height: 24.7vw;
    left: 22.7vw;
    top: 135.6vw;
    background-size: cover;

    &:hover {
      transform: scale(1);
    }
  }
}

.label1 {
  display: none;
  
  @include m {
    display: block;
    width: 97.4vw;
    text-align: center;
    font-family: SharkSoftBites;
    font-size: 4.5vw;
    line-height: 1.3;
    position: absolute;
    top: 122.3vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.label2 {
  text-align: center;
  font-family: SharkSoftBites;
  position: absolute;
  width: 7.8vw;
  line-height: 1.1;
  bottom: 19.2vw;
  left: 19.8vw;
  font-size: 1vw;
  line-height: 1.5;

  @include m {
    display: block;    
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 18.7vw;
    line-height: 1.1;
    bottom: 98.9vw;
    left: 14vw;
    font-size: 2.7vw;
    line-height: 1.4;
  }
}

.label3 {
  text-align: center;
  font-family: SharkSoftBites;
  position: absolute;
  width: 10.7vw;
  line-height: 1.1;
  bottom: 5.2vw;
  left: 24.5vw;
  font-size: 1vw;
  line-height: 1.5;

  @include m {
    display: block;
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 22.7vw;    
    bottom: 94.6vw;
    left: 45.6vw;    
    font-size: 2.7vw;
    line-height: 1.4;
  }
}

.label4 {
  text-align: center;
  font-family: SharkSoftBites;
  position: absolute;
  width: 7.8vw;
  bottom: 11.9vw;
  left: 40.5vw;
  font-size: 1vw;
  line-height: 1.5;

  @include m {
    display: block;
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 22.7vw;    
    bottom: 66.1vw;
    left: 19.6vw;
    font-size: 2.7vw;
    line-height: 1.4;
  }
}

.label5 {  
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 22.8vw;
    bottom: 25.4vw;
    left: 49.8vw;
    font-size: 1vw;
    line-height: 1.5;  

  @include m {
    display: block;
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 26vw;    
    bottom: 62.1vw;
    left: 54.4vw;
    font-size: 2.7vw;
    line-height: 1.4;
  }
}

.label6 {
  text-align: center;
  font-family: SharkSoftBites;
  position: absolute;
  width: 9.8vw;
  bottom: 6.8vw;
  left: 51.3vw;
  font-size: 1vw;
  line-height: 1.5;

  @include m {
    display: block;
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 33vw;    
    bottom: 38.5vw;
    left: 17.4vw;
    font-size: 2.7vw;
    line-height: 1.4;
  }
}

.label7 {
  text-align: center;
  font-family: SharkSoftBites;
  position: absolute;
  width: 12.8vw;
  bottom: 9.9vw;
  left: 64.3vw;
  font-size: 1vw;
  line-height: 1.5;

  @include m {
    display: block;
    text-align: center;
    font-family: SharkSoftBites;
    position: absolute;
    width: 33vw;    
    bottom: 30.5vw;
    left: 58.4vw;
    font-size: 2.7vw;
    line-height: 1.4;
  }
}