@import '@/mixins.scss';

.hero {
  background: url('../../../assets/img/hero/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;  
  height: 52vw;
  width: 100%;
  position: relative;
  
  @include m {
    background: url('../../../assets/img/hero/hero-bg-mobile.png');
    background-repeat: no-repeat;
    height: 179vw;
    width: 100%;
    background-size: cover;
  }
}

.buyTokenBtnEn {
  background: url('../../../assets/img/hero/buyTokenBtn.png');
  background-size: contain;
  position: absolute;
  top: 386px;
  top: 27vw;  
  left: 21vw;
  width: 300px;
  width: 15.6vw;
  height: 128px;
  height: 6.6vw;
  display: flex;
  justify-content: center;
  align-items: center;

  @include m {     
    background-repeat: no-repeat;
    background-size: cover;
    width: 54.69vw;
    height: 14.65vw;
    height: 23.75vw;
    top: 148vw;
    left: 24vw;
  }  
}

.buyTokenBtnRu {
  background: url('../../../assets/img/hero/buyTokenBtnRu.png');
  background-size: contain;
  position: absolute;
  top: 386px;
  top: 27vw;
  left: 21vw;
  width: 300px;
  width: 15.6vw;
  height: 128px;
  height: 6.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include m {
    @include m {
      background-repeat: no-repeat;
      background-size: cover;
      width: 54.69vw;
      height: 14.65vw;
      height: 23.75vw;
      top: 148vw;
      left: 24vw;     
    }
  }
}

.twitterFeed {
  position: absolute;
  right: 5.3vw;
  top: 7vw;
  width: 22vw;
  height: 34vw;  
  
  @media(max-width: 1340px) {
    top: 11.6vw;
  }  
  
  @include m {
    display: none;
  }
}

.twitterHeader {
  color: #242424;
  font-family: Maladroit;
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 20px  ;
}