@import '@/mixins.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 160px;
  z-index: 1;

  @media (max-width: 1000px) {
    padding-inline: 60px;
    height: 90px;
  }
  
  @include m {
    padding-inline: 20px;    
  }
}

.logo {
  font-family: Maladroit;
  font-size: 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  
  
  @include m {
    font-size: 18px;
    gap: 6px;
  }

  img {
    max-width: 100%;
    width: 4.69vw;
    height: 4.69vw;
    
    @include m {
      width: 32px;
      height: 32px;
    }
  }
}

.rightHeaderMenu {
  display: flex;
  gap: 16px;
  align-items: center;

  @include m {
    gap: 6px;
  }
}

.socialLink {
  cursor: pointer;

  width: 2.92vw;
  height: 2.92vw;
  
  img {
    max-width: 100%;
  }

  @include m {
    width: 32px;
    height: 32px;
    display: block;
  }
}

.switchWrapper {
  width: 5.83vw;
  height: 2.92vw;
  
  @include m {
    width: unset;
    height: unset;
  }  
}