* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-size: 24px;
  color: rgb(36, 36, 36);
  font-family: 'Maladroit';
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}