@font-face {
  font-family: 'Maladroit';
  src: url('@/assets/fonts/CCMaladroit_W00_Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jua';
  src: url('@/assets/fonts/Jua-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharkSoftBites';
  src: url('@/assets/fonts/SharkSoftBites.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


