@import "@/mixins";

.visionBlock {
   width: 100%;
   height: 62.5vw;
   background: url('@/assets/img/vision/bg.jpg') no-repeat;
   background-size: cover;
   position: relative;

   @include m {
     height: 187.64vw;
     background: url('@/assets/img/vision/bg-mobile-en.png') no-repeat;
     background-size: cover;
   }
 }

.visionBlockRu {
  width: 100%;
  height: 62.5vw;
  background: url('@/assets/img/vision/bg-ru.jpg') no-repeat;
  background-size: cover;
  position: relative;  

  @include m {
    height: 187.64vw;
    background: url('@/assets/img/vision/bg-mobile-ru.png') no-repeat;
    background-size: cover;     
  }
  
  &:after {
    display: none;
    
    @include m {
      content: "";
      display: block;      
      background: url(/src/assets/img/vision/mission.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 85vw;
      height: 26vw;
      top: 18.37vw;
      left: 5.58vw;
    }
  }
}

.textBlock {
  position: absolute;
  width: 41.5vw;
  height: 26vw;
  right: 11vw;
  top: 18.3vw;  
  font-family: Maladroit;
  font-size: 1.2vw;
  line-height: 1.4;

  @include m {
    width: 83.2vw;
    height: 88vw;
    right: 8.9vw;
    top: 51vw;
    font-size: 4vw;
    line-height: 1.15;
    text-align: center;
  }
}

.firstPar {
  margin-bottom: 32px;
  
  @include m {
    font-size: 3.9vw;
  }
}

.firstParRu {
  margin-bottom: 32px;
  font-family: SharkSoftBites;

  @include m {
    margin-bottom: 16px;
  }
}

.firstPar {
  margin-bottom: 32px;
  
  @media (max-width: 1300px) {
    margin-bottom: 22px;
  }

  @include m {
    margin-bottom: 16px;
  }
}

.firstParRu {
  margin-bottom: 32px;
  font-family: SharkSoftBites;


  @media (max-width: 1300px) {
    margin-bottom: 22px;
  }
  
  @include m {
    margin-bottom: 16px;
  }
}

.nextPar {
  margin-bottom: 32px;
  padding-left: 70px;

  @media (max-width: 1300px) {
    margin-bottom: 22px;
  }

  @include m {
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 3.9vw;
    
  }
}

.nextParRu {
  padding-left: 70px;
  margin-bottom: 32px;
  font-family: SharkSoftBites;

  @media (max-width: 1300px) {
    margin-bottom: 22px;
  }
  
  @include m {
    padding-left: 0;
    margin-bottom: 16px;
  }
}

.lastPar {
  margin-top: 7vw;
  padding-right: 50px;
  color: #fff;
  margin-bottom: 32px;
  padding-left: 70px;
  font-size: 1.2vw;

  @media (max-width: 1300px) {
    margin-top: 5vw;
  }
  @media (max-width: 1000px) {
    margin-top: 3.5vw;
    margin-bottom: 22px;
  }

  @include m {
    text-align: center;
    margin-top: 12vw;
    padding-right: 0px;
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 3.9vw;
  }
}

.lastParRu {
  margin-top: 10.7vw;
  padding-right: 50px;  
  color: #fff;
  padding-left: 70px;
  font-family: SharkSoftBites;

  @media (max-width: 1500px) {
    margin-top: 7vw;
  }
  
  @include m {
    text-align: center;
    margin-top: 22vw;
    padding-right: 0px;
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 3.9vw;
  }
}