@import "@/mixins";

.visionBlock {
  width: 100%;
  height: 62.5vw;
  background: url('@/assets/img/vision/bg.jpg') no-repeat;
  background-size: cover;
  position: relative;

  @include m {
    height: 187.64vw;
    background: url('@/assets/img/vision/bg-mobile-en.png') no-repeat;
    background-size: cover;
  }
}

.visionBlockRu {
  width: 100%;
  height: 62.5vw;
  background: url('@/assets/img/vision/bg-ru.jpg') no-repeat;
  background-size: cover;
  position: relative;

  @include m {
    height: 187.64vw;
    background: url('@/assets/img/vision/bg-mobile-ru.png') no-repeat;
    background-size: cover;
  }

  &:after {
    display: none;

    @include m {
      content: "";
      display: block;
      background: url(/src/assets/img/vision/mission.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 85vw;
      height: 26vw;
      top: 18.37vw;
      left: 5.58vw;
    }
  }
}

.textBlock {
  position: absolute;
  width: 41.5vw;
  height: 26vw;
  right: 9.6vw;
  top: 18.3vw;
  font-family: Maladroit;
  font-size: 1.25vw;
  line-height: 1.4;
  letter-spacing: 1px;
  
  @include m {
    letter-spacing: 0.4px;
    width: 76.6vw;
    height: 88vw;
    right: 12.3vw;
    top: 53.6vw;
    font-size: 3.3vw;
    line-height: 1.35;
    text-align: center;
  }
}

.textBlockRu {
  position: absolute;
  width: 41.5vw;
  height: 26vw;
  right: 10.1vw;
  top: 19.2vw;
  font-family: Maladroit;
  font-size: 1.35vw;
  line-height: 1.3;


  @include m {
    width: 83.2vw;
    height: 88vw;
    right: 8.9vw;
    top: 51vw;
    font-size: 4vw;
    line-height: 1.15;
    text-align: center;
  }
}

//.firstPar {
//  margin-bottom: .8vw;
//
//  @include m {
//    font-size: 3.9vw;
//  }
//}
//
//.firstParRu {
//  margin-bottom: 1.4vw;
//  font-family: SharkSoftBites;
//
//  @include m {
//    margin-bottom: 16px;
//  }
//}

.firstPar {
  margin-bottom: .8vw;

  @include m {
    margin-bottom: 6vw;
  }
}

.firstParRu {
  margin-bottom: 1vw;
  font-family: SharkSoftBites;

  @include m {
    margin-bottom: 6vw;
  }
}

.nextPar {
  margin-bottom: .8vw;
  padding-left: 4.2vw;

  @include m {
    padding-left: 0;
    margin-bottom: 6vw;
  }
}

.nextParRu {
  padding-left: 4.2vw;
  margin-bottom: 1vw;
  font-family: SharkSoftBites;


  @include m {
    padding-left: 0;
    margin-bottom: 6vw;
  }
}

.lastPar {
  color: #fff;
  font-size: 1.2vw;
  position: absolute;
  left: 2vw;
  bottom: -10.5vw;
  left: 3.2vw;
  width: 36vw;


  @include m {
    text-align: center;
    color: #fff;
    font-size: 1.2vw;
    position: absolute;
    left: 2vw;
    bottom: -30.1vw;
    left: -2vw;
    width: 79.4vw;
    font-size: 3.2vw;
    line-height: 1.5;
  }
}

.lastParRu {
  position: absolute;
  bottom: 20vw;
  left: 2vw;
  bottom: -10.1vw;
  left: 2.4vw;
  width: 36.3vw;
  color: #fff;
  font-family: SharkSoftBites;

  @include m {
    text-align: center;
    color: #fff;
    font-size: 1.2vw;
    position: absolute;
    left: 2vw;
    bottom: -32.1vw;
    left: 0vw;
    width: 81.2vw;
    font-size: 3.6vw;
    line-height: 1.4;
  }
}