@import "@/mixins";

.visionBlock {
  width: 100%;
  height: 62.5vw;
  background: url('@/assets/img/vision/bg.jpg') no-repeat;
  background-size: cover;
  position: relative;

  @include m {
    height: 187.64vw;
    background: url('@/assets/img/vision/bg-mobile-en.png') no-repeat;
    background-size: cover;
  }
}

.visionBlockRu {
  width: 100%;
  height: 62.5vw;
  background: url('@/assets/img/vision/bg-ru.jpg') no-repeat;
  background-size: cover;
  position: relative;

  @include m {
    height: 187.64vw;
    background: url('@/assets/img/vision/bg-mobile-ru.png') no-repeat;
    background-size: cover;
  }

  &:after {
    display: none;

    @include m {
      content: "";
      display: block;
      background: url(/src/assets/img/vision/mission.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 85vw;
      height: 26vw;
      top: 18.37vw;
      left: 5.58vw;
    }
  }
}

.textBlock {
  position: absolute;
  width: 41.5vw;
  height: 26vw;
  right: 11vw;
  top: 18.3vw;
  font-family: Maladroit;
  font-size: 1.2vw;
  line-height: 1.4;

  @include m {
    width: 83.2vw;
    height: 88vw;
    right: 8.9vw;
    top: 51vw;
    font-size: 3.9vw;
    line-height: 1.15;
    text-align: center;
  }
}

.textBlockRu {
  position: absolute;
  width: 41.5vw;
  height: 26vw;
  right: 11vw;
  top: 18.7vw;
  font-family: Maladroit;
  font-size: 1.35vw;
  line-height: 1.3;

  @include m {
    width: 83.2vw;
    height: 88vw;
    right: 8.9vw;
    top: 51vw;
    font-size: 4vw;
    line-height: 1.15;
    text-align: center;
  }
}

.firstPar {
  margin-bottom: 1.7vw;

  @include m {
    font-size: 3.9vw;
  }
}

.firstParRu {
  margin-bottom: 1.4vw;
  font-family: SharkSoftBites;

  @include m {
    margin-bottom: 16px;
  }
}

.firstPar {
  margin-bottom: 1.7vw;

  @include m {
    margin-bottom: 16px;
  }
}

.firstParRu {
  margin-bottom: 1vw;
  font-family: SharkSoftBites;

  @include m {
    margin-bottom: 16px;
  }
}

.nextPar {
  margin-bottom: 1.7vw;
  padding-left: 4.6vw;


  @include m {
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 3.9vw;
  }
}

.nextParRu {
  padding-left: 4.6vw;
  margin-bottom: 1vw;
  font-family: SharkSoftBites;


  @include m {
    padding-left: 0;
    margin-bottom: 16px;
  }
}

.lastPar {
  color: #fff;
  font-size: 1.2vw;
  position: absolute;
  left: 2vw;
  bottom: -9.3vw;
  left: 5vw;
  width: 34vw;


  @include m {
    text-align: center;
    color: #fff;
    font-size: 1.2vw;
    position: absolute;
    left: 2vw;
    bottom: -30.3vw;
    left: 0vw;
    width: 81.2vw;
    font-size: 3.5vw;
    line-height: 1.3;
  }
}

.lastParRu {

  position: absolute;
  bottom: 20vw;
  left: 2vw;
  bottom: -9vw;
  left: 5vw;
  width: 29vw;
  color: #fff;
  font-family: SharkSoftBites;


  @include m {
    text-align: center;
    color: #fff;
    font-size: 1.2vw;
    position: absolute;
    left: 2vw;
    bottom: -28.9vw;
    left: 0vw;
    width: 81.2vw;
    font-size: 3.6vw;
    line-height: 1.4;
  }
}